.Header {
  height: 80px;
  width: 100vw;
  background: #3ce2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 50px;
  font-size: 56px;
  font-weight: bold;
  font-family: Kreon-Bold;
  color: white;
}

.Header > .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Header > .menu > * {
  margin-right: 30px;
  font-size: 40px;
}

/* @supports (.addict-menu-root: hover) {
  .addict-menu-root {
    background: #3ce2e2;
    transition: background 0.3s ease-in-out;
  }
} */

/* :has(header:hover) {
  .addict-menu {
    display: flex;
  }
}

:has(.avatar-icon:hover) {
  .addict-menu {
    display: flex;
  }
} */

.addict-menu {
  background: #0fe;
  height: 180px;
  float: right;
  position: relative;
  top: -80px;
  margin-top: 80px;
  padding: 0 15px;
  list-style: none;
  font-size: 32px;

  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-evenly;
}

.menu > li > span {
  color: #000;
  font-family: Kreon-Bold;
}
.menu > li > span.balance {
  color: #004242;
}
