.Header {
  height: 80px;
  width: 100vw;
  background: #3ce2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Kreon-Bold;
  color: #004242;
}

.logo {
  margin-left: 50px;
  font-size: 56px;
  font-weight: bold;
  color: white;
}

.Header > .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Header > .menu li {
  margin: 0 15px;
  font-size: 40px;
}

.menu > li span.dollar {
  color: #000;
}

.menu li:last-of-type .dropdown-content {
  right: 0;
}
